#!/bin/bash     
PROJECT_ID="{{ gcp_project_id }}"
REGION="{{ region }}"
REPOSITORY="{{ repository }}"
IMAGE='training'
IMAGE_TAG='training:latest'

docker build -t $IMAGE .
docker tag $IMAGE $REGION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/$IMAGE_TAG